.entry-msw-dev-tool {
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msw-dev-tool-container {
  width: 100%;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  box-sizing: border-box;
  z-index: 1000;
  background-color: white;
  color: black;
}

.msw-dev-tool-title-container {
  display: flex;
  justify-content: space-between;
}

.msw-dev-tool-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
